 <!-- footer -->

<html>

<head>
    <style>

        .color-background-footer {
            border-radius: 5px;
            background-color: #c1bcee;
            background-image: linear-gradient(180deg, #c1bcee 100%, #f8faff 0%);
        }

    </style>
</head>

        
<body>

    <div id="footer" class="color-background-footer" style="background-color: #caefff; height: 50px; width: 100%; font-family: arial; text-align: center;margin-top: 8px;padding-top: 25px;">
            
            &#169 Copyright 2022 (Smart LMS Portal)
    </div>
</body>
</html>